@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
figure.snip1081 {
  font-family: 'Raleway', Arial, sans-serif;
  color: #fff;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  text-align: center;
  margin: center;
}
figure.snip1081 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
figure.snip1081 i {
  background-color: #1a1a1a;
  border-radius: 50%;
  color: #ffffff;
  display: inline-block;
  font-size: 40px;
  height: 70px;
  line-height: 70px;
  width: 70px;
  z-index: 1;
  border: 2px solid #ffffff;
}
figure.snip1081 figcaption {
  margin-top: -35px;
}
figure.snip1081 figcaption:after {
  border-radius: 0 0 8px 8px;
  width: 100%;
  background: #333333;
  height: 14px;
  display: block;
  content: '';
}
figure.snip1081 figcaption > p {
  font-weight: 500;
  background: #ffffff;
  color: #333333;
  padding: 30px 40px;
}
figure.snip1081 .header {
  border-radius: 8px 8px 0 0;
  padding: 50px 15px;
  background: #333333;
}
figure.snip1081 h2,
figure.snip1081 p {
  margin: 0;
}
figure.snip1081 p {
  font-size: 0.9em;
}
figure.snip1081 h2 {
  width: 100%;
  display: block;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-size: 30px;
  text-transform: uppercase;
  position: relative;
}
figure.snip1081 h2:after {
  background: #ededed none repeat scroll 0 0;
  content: "";
  height: 1px;
  left: 50%;
  margin-left: -30px;
  bottom: -12px;
  position: absolute;
  width: 60px;
}
figure.snip1081 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}
figure.snip1081.blue i {
  background: #2980b9;
}
figure.snip1081.red i {
  background: #c0392c;
}
figure.snip1081.yellow i {
  background: #e67e22;
}
figure.snip1081.navy i {
  background: #34495e;
}
figure.snip1081:hover figcaption:after,
figure.snip1081.hover figcaption:after,
figure.snip1081:hover .header,
figure.snip1081.hover .header {
  background: #d65548;
}
figure.snip1081:hover i,
figure.snip1081.hover i {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
figure.snip1081:hover.blue figcaption:after,
figure.snip1081.hover.blue figcaption:after,
figure.snip1081:hover.blue .header,
figure.snip1081.hover.blue .header {
  background: #164666;
}
figure.snip1081:hover.red figcaption:after,
figure.snip1081.hover.red figcaption:after,
figure.snip1081:hover.red .header,
figure.snip1081.hover.red .header {
  background: #6d2018;
}
figure.snip1081:hover.yellow figcaption:after,
figure.snip1081.hover.yellow figcaption:after,
figure.snip1081:hover.yellow .header,
figure.snip1081.hover.yellow .header {
  background: #924d10;
}
figure.snip1081:hover.navy figcaption:after,
figure.snip1081.hover.navy figcaption:after,
figure.snip1081:hover.navy .header,
figure.snip1081.hover.navy .header {
  background: #10161c;
}
body {
  background-color: #212121;
  text-align: center;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #3a3a3a;
  color: white;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  font-size: 15px;
}
